<%- include("../../!templates/_blog-header", { id: 2, title: "Article Editor v1.0.0 公開しました！", publishedAt: "2018/2/12" }) %>
			<Article Class = "article-content">
				どーもおはこんばんにちは。Genbooです(｀･ω･´)ゞ<Br />
				この度Article Editorを正式にリリースしましたのでご報告いたします！いぇい！！！

				<Br /><Br />

				てな訳でv1.0.0は<A Href = "https://github.com/GenbuHase/ArticleEditor/releases/tag/v1.0.0" Target = "_blank">こちら</A>をご覧下さい！<Br />
				既にv1.0.1も作り始めてますが、まぁちょこちょこ修正してリリースするといった形になりそうですヽ(´・ω・｀)b

				<Br /><Br />

				v1.0.0 → v1.0.1という事でマイナーチェンジなのでしょうがないですね♂<Br />
				今後行う小規模の機能追加などは、v1.1.0やv1.2.0としてリリースするつもりです。

				<Br /><Br />

				今日は自分が作ったツールやサイトが色々注目されて割と嬉しかった一日でした。<Br />
				まさかMastodonRaterが再興するとは…:( ;´꒳`;):<Br />
				これからも自分の製作物を色んな方に使って頂けるとホントに嬉しいな、と改めて実感出来ましたし作って良かったなーと思います。

				<Br /><Br />

				ではまた、皆様も今週も頑張って行きましょう♪
			</Article>
<%- include("../../!templates/_blog-footer") %>