HTML, Body {
	Height: 100%;
}

Body {
	Display: Flex;
	Flex-Direction: Row;

	Margin: 0;
}

#Content {
	Display: Flex;
	Flex-Direction: Column;

	Flex: 1;
}

#Content_Page {
	Flex: 1;
	Border: None;
}