<%
	include("./_global");

	init({
		files: '[]'
	});
%><Table Class = "highlight">
	<THead>
		<Tr><Th>File</Th></Tr>
	</THead>

	<TBody><%
for (const file of files) {
	if (needInit(file.name)) file.name = "";
	if (needInit(file.path)) file.path = ""; %>
		<Tr><Td><%- `<A Href = "${file.path}" Download OnClick = 'M.toast({ html: "Thank you for downloading😊" })'>${file.name}</A>` %></Td></Tr><% } %>
	</TBody>
</Table>