<Mod Class = "mdc-card mdc-elevation--z5">
	<Div Class = "mdc-card__horizontal-block">
		<Section Class = "mdc-card__primary">
			<ModName Class = "mdc-card__title"><%= name %></ModName>
		</Section>

		<%- `<Img Data-Component = "Picture" Class = "mdc-card__media-item mdc-card__media-item--1x" Src = "${(dir && hasIcon) ? `./Contents/${dir}/favicon.ico` : "assets/images/noImage.png"}" />` %>
	</Div>

	<Section Class = "mdc-card__actions">
		<%- `<A Data-Component = "Link" Class = "mdc-card__action mdc-button mdc-button--compact" Href = "${dir ? `./Contents/${dir}/` : "#"}">Get Started</A>` %>
	</Section>
</Mod>