<%
	include("../../../!templates/_global");
%><%
	const name = "まさにカオス";
	const hasIcon = false;
%><%- include("../../../!templates/mod/_mod-header", { name, hasIcon }) %>
			<Article>
				<H2 Class = "subheading">1. Overview</H2>

				<P>
					このModは、Minecraft PEに数多くのカオス要素を追加します。
				</P>
			</Article>

			<Article>
				<H2 Class = "subheading">2. Changelog</H2>

				<%-
					include("../../../!templates/_changelog", {
						name,

						logs: [
							{
								version: "Release 1.01",
								releasedAt: "2015/09/16",

								changes: ["クリーパーの強化を実装"]
							},

							{
								version: "Release 1.00",
								releasedAt: "2015/09/16",

								changes: ["まさにカオスを初リリース"]
							}
						]
					}) %>
			</Article>

			<Article>
				<H2 Class = "subheading">3. Download</H2>

				<%-
					include("../../../!templates/_downloads", {
						files: [
							{ name: `${name} Release 1.01`, path: `download/Release/${name} Release 1.01.js` },
							{ name: `${name} Release 1.00`, path: `download/Release/${name} Release 1.00.js` }
						]
					}) %>
			</Article>
<%- include("../../../!templates/mod/_mod-footer") %>