<%- include("../../!templates/blog/_blog-header", { id: 11, title: "SNSをどこまで信じるべきか", publishedAt: "2018/4/26" }) %>
			<Article Class = "article-content">
				一般世間に広くインターネットが普及し始めたのは、せいぜいここ十数年の事である。<Br />
				スマートフォンの爆発的ヒットに伴って、ビジネスマンからサラリーマンへ、サラリーマンからわたしたちの親世代へ、そして親世代から今の若者世代へと供給が進み、現行のIT社会へと至っている。<Br />
				生活の大部分をスマホに支配されていると指摘される中、その若者と大人の境目に新たなギャップが生まれている。

				<Br /><Br />

				「ネットはどこまで信じるべきか」<Br />
				一般にネットは情報の宝庫だと比喩される。<Br />
				言うなれば、情報量に比例して虚偽のものや危険なものが蔓延しているという事でもある。

				<Br /><Br />

				情報として用いるには、ある程度の根拠に基づいたピックアップが求められる。<Br />
				これをもう少し具象化していった結果、こんな疑問に辿り着く。

				<Br /><Br />

				「SNSはどこまで信じるべきか」<Br />
				SNS(ソーシャルネットワーキングサービス)とは、登録された利用者同士が交流できるWebサイトの会員制サービス<A Href = "#引用1"><Sup>[引用1]</Sup></A>のことである。<Br />
				現代人なら使っている人も多いであろう<A Href = "https://line.me" Target = "_blank">LINE</A>や、過去に一世を風靡した<A Href = "https://mixi.jp" Target = "_blank">mixi</A>などもこれに当たる。

				<Br /><Br />

				数年前からわたしもこの世界に足を踏み入れてみたのだが、時間が経てば経つほど視点が変わっていく、そんな不思議な経験をした。<Br />
				ここからはわたしの経験に基づいて、SNSとはどういう存在だったかを書き留めていく。

				<Br /><Br />

				SNSで交流していくうちに、少しずつではあるが自己の人間性が変化している事に気付いた。<Br />
				実世界ではまずお目に掛かれない方々や、とても素敵な思想の元に生きている方々が数え切れないほど居た。<Br />
				彼らと関わるうちに、わたしも色んな事を考え始めた。<Br />
				周りの環境とは違う、比較的高度な議論が展開されている日々にもいつからか慣れていて、それがわたしにとっていい刺激になったのだろうと思う。

				<Br /><Br />

				そして、先ほども述べた通り様々な議論を見てきたことで、少しは多面的に見る力を養えた気がする。<Br />
				自分を客観的に見つめるようになり、SNSという別次元のお陰で大きく成長出来たと思っている。

				<Br /><Br />

				とりあえずではあるがSNSの良い所を述べてみた。<Br />
				ここからは実際にSNSを信じていくべきか否かについて述べていく。

				<Br /><Br />

				SNSでは他人との距離が比較的近い。実際に過ごしてみれば分かる事だろう。<Br />
				そこで、例えば以下のようなケースを考えてみる。

				<BlockQuote>
					あなたは、とあるSNSを通じてAさんと仲良くなった。<Br />
					そして、Aさんともっと仲良くなりたいと思い、別の連絡手段を教え合った。<Br />
					その後、更にやり取りが続き、いつからかお互い会ってみたいと思うようになった。
				</BlockQuote>

				ここにSNSの怖さと呼ばれているものが潜んでいる。<Br />
				元々はネット上の関係であって、実世界で会う事は果たしてどうなのか。<Br />
				これに関してはかなり世代差や個人差があるだろう。

				<Br /><Br />

				しかしわたしの場合、一切反対感情を持っていない。<Br />
				心から信頼している人に「会いたい」と思うことは極めて普通のことだ。<Br />
				「本当に信頼できる人なのか？」などという疑問は決して答えられないだろう。

				<Br /><Br />

				結局のところ、実際にその人と会ってみれば答えが分かるようになるのではないだろうか。<Br />
				一度も会った事がない人が「知らない人」なら、一度でも会ってしまえば「知り合い」ではないだろうか。

				<Br /><Br />

				今まで多くの人を見てきたが、周りの人間よりもSNSに居る人間の方がまともだったりすることは珍しくなかった。<Br />
				いっぱい会ってみたいと思う人も居た。

				<Br /><Br />

				「知らない人と話すのはダメ」ならば、一度会ってしまえば「知り合い」なのだから、それ以降は話しても良いのだろうか。<Br />
				言葉の矛盾というのは非常に恐ろしいと、改めて痛感した気がする。

				<Br /><Br /><Br /><Br />

				<Span ID = "引用1">[引用1]</Span><Br />
				<A Href = "http://www.soumu.go.jp/main_sosiki/joho_tsusin/security/basic/service/07.html" Target = "_blank">SNS（ソーシャルネットワーキングサービス）の仕組み</A>
			</Article>
<%- include("../../!templates/blog/_blog-footer") %>