<%
	include("./_global");

	init({
		name: '""',
		items: '[]'
	});
%><Div Class = "carousel"><%
for (const item of items) {
	if (needInit(item.name)) item.name = "";
	if (needInit(item.src)) item.src = `assets/images/${item.name}.png`;
	if (needInit(item.drawedAt)) item.drawedAt = "製作日時不明"; %>
	<Div Class = "carousel-item">
		<Div Class = "drawing card">
			<Div Class = "card-image">
				<%- `<Img Src = "${item.src}" />` %>
				<Span Class = "drawing-name card-title"><%= item.name %></Span>
			</Div>

			<Div Class = "card-content">
				<P><%= item.drawedAt %></P>
			</Div>
		</Div>
	</Div><% } %>
</Div>