<%- include("../../!templates/_blog-header", { id: 3, title: "✨Valentine Day in 2018✨", publishedAt: "2018/2/14" }) %>
			<Article Class = "article-content">
				どうもおはこんばんにちは。どっかのGenbooです✌(*´﹃`*)✌<Br />
				今日はバレンタインデーですね！！！

				<Br /><Br />

				1年に！1度の！！バレンタインデーですよ！！！！！！！！

				<Br /><Br />

				…はい。皆さんはチョコ、貰いましたか？<Br />
				私は今年も安定で貰えてないです(  ͡   ͜   ͡   )<Br />
				<S>あ、リア充の方は後ほど<A Href = "mailto:programmergenboo@gmail.com">こちら</A>からご連絡下さいね？(  ͡   ͜   ͡   )</S>

				<Br /><Br />

				まぁ本音言うとチョコ自体はそこまで欲しい訳ではないんですけど、やっぱり気持ち的には欲しい～っていう感じで。w<Br />
				元々お腹弱いので…しょうがないですね:( ;´꒳`;):

				<Br /><Br />

				とりあえず1年に1回の行事も終わりましたが、明日からもまた頑張りますよっ！！って感じで行きたいと思います～ヽ(´・ω・｀)b<Br />
				ではまた(｀･ω･´)ゞ
			</Article>
<%- include("../../!templates/_blog-footer") %>