<%
	include("../_global");

	init({
		items: '[]'
	});
%><UL Class = "item-list"><%
	for (const item of items) {
		if (needInit(item.name)) item.name = "";
		if (needInit(item.id)) item.id = 0;
		if (needInit(item.image)) item.image = "../../assets/noImage.png"; %>
	<Div Class = "item card">
		<Div Class = "item-image card-image grey lighten-2">
			<%- `<Img Src = "${item.image}" />` %>
		</Div>

		<Div Class = "item-description card-content">
			<Span Class = "item-name card-title truncate"><%- item.name %></Span>
			<P Class = "item-id">ID: <%= item.id %></P>
		</Div>
	</Div><% } %>
</UL>