<%- include("../../!templates/blog/_blog-header", { id: 10, title: "遥か遠くの走馬灯にて。", publishedAt: "2018/4/25" }) %>
			<Article Class = "article-content">
				一昨日ぐらいからずっと、走馬灯のような夢を見ている。<Br />
				目が覚める度に頬が濡れているのに気付く。<Br />
				今更後悔しても遅いとは思うのだが、時折昔に戻りたいと思う事が年々、指数関数的に増えてきている。

				<Br /><Br />

				今までわたしは何がしたかったのか。<Br />
				もう自分にも分からない。<Br />
				そんなものはとうの昔に置き去りのまま、時すでにおすし、だった。

				<Br /><Br />

				さて、何故このタイミングでこのような思考を巡らせているかの話だが、強大な不安要素隔離が生まれたからだ……と思う。

				<Br /><Br />

				わたしは「隔離」に怯えていた。<Br />
				過去に「中学受験」という隔離を経験したことがある。<Br />
				嫌いな人間との関係をリセットするためだった。たったそれだけだった。<Br />
				そのために、大好きな人との関係も失った。<Br />
				隔離がまた一つ後悔を生んだ。<Br />
				そこからだろうか、春に対して酷く恐れを抱き始めた。

				<Br /><Br />

				ただただ別れだけが肥大化していた。<Br />
				全てが怖くなった。ただそれだけのことだった。<Br />
				遂には仲良くなることすら敬遠する様になっていた。

				<Br /><Br />

				『出会いがなければ別れもない』<Br />
				きっと春が来れば、またわたしは忘れられてしまう。<Br />
				きっと暫く消えていれば、またわたしは消えてしまう。<Br />
				記憶からの「死」を、恐れるようになっていた。

				<Br /><Br />

				そんな最中の走馬灯だ。<Br />
				あり得ない光景が、夢の中で繰り広げられている。<Br />
				何故わたしは遅刻したんだ。<Br />
				何故あの子がここにいるんだ。<Br />
				何故同じ電車に乗っているんだ。<Br />
				何故同じ駅で降りているんだ。

				<Br /><Br />

				……いつも後になってから気付くことばかりだ。<Br />
				夢は残酷だ。一寸の光が差し込んだと思えば、たちまち消えてしまう。<Br />
				それを現実のものと捉えてしまい、勝手に哀愁に浸るばかりで。<Br />
				どうしても、夢とは認識出来なかった。<Br />
				その心底には、一寸ばかりの期待と大さじ5杯の後悔があったのかもしれない。

				<Br /><Br />

				どっちにしろ、今は分からない。<Br />
				全て夢の中に置き去りにしてきた。

				<Br /><Br />

				凄く、怖い。<Br />
				だから隔離をきっかけに、自分から隔離することにしたい。<Br />
				私のメンタルと飽きっぽさが悪い方向に向かないことを祈って、ただただその時を待ちわびる、そんな自分が居る気がしたのは気のせいなのだろうか。

				<Br /><Br /><Br /><Br />

				P.S.<Br />
				何となく小説っぽくなったので、なろうにも上げてみました。<Br />
				いつも通りの、需要なんてないただの自己満足ですが一応という体で。

				<Br /><Br />

				こちらから<A Href = "https://ncode.syosetu.com/n3841es/" Target = "_blank">Phantasmagoria</A>をお読みいただけますが、この記事と全く同じになってます。
			</Article>
<%- include("../../!templates/blog/_blog-footer") %>