<%
	include("../!templates/_global");
%><%-
	include("../!templates/_header", {
		name: "Mod",
		title: "Mod",
		
		hasStyle: true
	}) %>
			<H1 Class = "heading">Mod一覧</H1>
			
			<%-
				include("../!templates/mod/_modlist", {
					mods: [
						{ name: "Advanced Weapon", hasIcon: true },
						// { name: "Animal Rider" },
						// { name: "Command Tools" },
						{ name: "Customizable Blocks", hasIcon: true },
						// { name: "Data Helper" },
						// { name: "Earth Defence Force For MCPE", dir: "EDFFM", hasIcon: true },
						// { name: "GUI Helper" },
						// { name: "Many Phones", hasIcon: true },
						{ name: "More Records", hasIcon: true },
						// { name: "Reality Building" },
						// { name: "Scripting+" },
						// { name: "Too Many Bombs", hasIcon: true },
						// { name: "Trap Tools", hasIcon: true },
						// { name: "Vehicle Rider" },
						// { name: "Villager's Inventory", hasIcon: true },
						// { name: "WorldEdit", hasIcon: true },
						// { name: "Zero Gravity" },
						{ name: "まさにカオス" }
					]
				}) %>
<%- include("../!templates/_footer") %>