@charset "UTF-8";

main {
	.mod-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;

		.card {
			display: inline-block;
			width: 256px;
	
			.card-title {
				width: 100%;
				background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.46));
			}
		}
	}
}