@charset "UTF-8";

.mdc-typography--headline {
	display: flex;
	align-items: flex-end;
	
	border-bottom: thin solid lightseagreen;

	&::Before {
		content: "";
	
		display: inline-block;
		margin-right: 0.5em;
		vertical-align: bottom;

		border: 1rem solid transparent;
		border-color: transparent lightseagreen lightseagreen transparent;
	}
}

.mdc-typography--subheading2 {
	display: flex;
	border-bottom: thin solid mediumpurple;

	&::Before {
		content: "";

		display: inline-block;
		width: 0.5rem;
		min-width: 0.5rem;
		margin-right: 0.5em;

		background: mediumpurple;
	}
}