<ItemCard Class = "mdc-card mdc-elevation--z5">
	<%- `<Item Class = "mdc-card__media" Style = "background-image: url('${image}')"></Item>` %>

	<Section Class = "mdc-card__primary">
		<ItemName Class = "mdc-card__title"><%- name %></ItemName>
		<ItemID Class = "mdc-card__subtitle">ID: <%- id %></ItemID>
	</Section>
</ItemCard>