@charset "UTF-8";

ModName {
	display: block;
	margin: 0.5em 0 1em 0;

	&:not(.noImage)::before {
		width: 2rem;
		height: 2rem;
		background-position: center;
		background-size: cover;

		border: none !important;
	}
}

Main {
	Section {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: auto;
		}

		> Content {
			display: block;
			margin-left: 1.25rem;

			white-space: pre-line;
		}
	}
}

ItemCard {
	display: block;
	width: 256px;
	margin: 0 1em 1em 0;

	white-space: initial;

	> Item {
		display: block;
		height: 256px;

		background: transparent center / contain;
		background-color: rgba(0, 0, 0, 0.25);
		background-repeat: no-repeat;
	}

	ItemName,
	ItemID {
		display: block;
	}
}

Changelog {
	display: block;
	white-space: initial;

	> ModVersion {
		display: block;
	}
}

Downloads {
	display: block;
}