@charset "UTF-8";

main {
	.mod-name {
		&:not(.noImage)::before {
			width: 1.5em;
			height: 1.5em;
			background-position: center;
			background-size: cover;
	
			border: none !important;
		}
	}

	.item-list {
		display: flex;
		flex-wrap: wrap;

		.item {
			display: inline-block;
			width: 256px;
			margin-right: 1em;

			&:last-of-type { margin-right: inherit }
		}
	}
}