<%- include("../../!templates/_blog-header", { id: 14, title: "Life is Tech! Summer Camp in 2018@立教大学5days [8/11 - 8/15]を振り返って", publishedAt: "2018/8/17" }) %>
			<Article Class = "article-content">
				※この記事は <B><A Href = "https://life-is-tech.com/camp" Target = "_blank">Life is Tech! Summer Camp in 2018</A>のネタバレ</B> をもろに含みます。<Br />
				　閲覧は <B>自己責任</B> でお願い致します。

				<Br /><Br /><Br /><Br />



				どうも、お久しぶりです。げんちゃんです。<Br />
				8/11から8/15まで<A Href = "https://life-is-tech.com" Target = "_blank">Life is Tech!</A>さまの<A Href = "https://life-is-tech.com/camp/place/rikkyou" Target = "_blank">Life is Tech! Summer Camp in 2018@立教大学</A>に参加して、平成最後の夏を謳歌してきました！！

				<Br /><Br />

				一応出展した作品は<A Href = "https://genbuhase.github.io/LiT-Summer2018" Target = "_blank">こちら</A>になります！<Br />
				ソースは<A Href = "https://github.com/GenbuHase/LiT-Summer2018" Target = "_blank">こちら</A>からどうぞ₍₍ ◝('ω'◝) ⁾⁾ ₍₍ (◟'ω')◟ ⁾⁾

				<Br /><Br />

				ほんっとに楽しかったです！！気付けばあっという間に5日間が過ぎてました……w<Br />
				楽しむだけ楽しんで何もしないのも凄く勿体ないので、ひとまず今回のサマーキャンプを振り返りたいと思います✌︎('ω'✌︎ )

				<Br /><Br />


				<H2 ID = "day1" Class = "subheading subheading-1">LiTキャンプ開始！！ ― 1日目</H2>
				実は3年前に一度だけ、Life is Tech!(以下LiT)のサマーキャンプに参加した事があります。<Br />
				当時は中2ということもあって、特に年齢を気にする必要がなかったのですが、今回は高2としての参加だったのでかなり不安でした。<Br />
				仲良くなれるかなとか、どうやって話そうかなとか、話題合うかなぁ……だとか。<Br />
				更に今回選んだコースが<A Href = "https://life-is-tech.com/camp/course/webdesign" Target = "_blank">Webデザインコース(HTML/CSS)</A>だったので、前回とはまるで違うメンバー層になるだろうな、と結構心配していた部分がありました。

				<Br /><Br />

				密かに水色のTシャツを狙っていたのですが、思った以上に人気だったようで、わたしが到着した時には既に品切れでした。<Br />
				少し残念だなーなどと思いながら、例の如くピンクTシャツを着ることにしました。w

				<Br /><Br />

				そしてLiT恒例のオープニングセレモニー。面白くてあっという間に時間が過ぎ、早速開発メンバーと顔合わせすることに。<Br />
				やはり予想していた通り、自分が最年長でした。<Br />
				思った以上に結構なプレッシャーになっていたみたいです。

				<Br /><Br />

				ですが思った以上にみんな優しいし、何よりめちゃくそ話しやすいのでかなりビックリ。<Br />
				何とか5日間やっていけそうだなって感じた瞬間でした。

				<Br /><Br />

				初日はセレモニーがあったので午前中は殆ど開発時間がありません。<Br />
				それでも、初日からメンバーが物凄い勢いで進捗を投げつけていました。<Br />
				素直にあのスピードで教科書を終わらせるのはなかなか出来ることじゃないな、と感じてます。<Br />
				ホントに尊敬の念でいっぱいです。ホントに凄いよ、みんな！

				<Br /><Br />

				そしてあっという間にお昼。<Br />
				初日は<A Href = "https://goo.gl/maps/uSSxvkmXvnT2" Target = "_blank">セントポールの隣り</A>さまにてランチしてました。LiT効果で売上高凄そう。w

				<Br /><Br />

				お昼が終わると、また違うアクティビティが用意されていました。<Br />
				その名も <B>ランドール監獄脱出作戦</B> です！<Br />
				簡潔に言えば、今話題のリアル脱出ゲームのようなアレです。はい。察して()

				<Br /><Br />

				結果から言うと脱獄成功しました。✌︎('ω'✌︎ )<Br />
				<B>25チーム中3チーム</B> しか脱獄できなかったので、結構難しいんじゃないかと感じました。<Br />
				メンバーのみんなの発想力がもう異常すぎて……ただただ驚くしかなかったです(白目)

				<Br /><Br />

				ただ、ちゃんと仕事出来たは出来たので一安心しました。(気付かなきゃ脱獄失敗してたから結構大事)<Br />
				圧倒的な教育の違いを感じる……(実はただ無能なだけ←←

				<Br /><Br />

				他にも色んな事がありましたが、かなり良いスタートを切ることが出来た気がします。

				<Br /><Br />


				<H2 ID = "day2" Class = "subheading subheading-1">進捗どうですか？ ― 2日目</H2>
				2日目は結構アクティビティ控えめな感じでした。<Br />
				まだ開発の導入段階なのにも関わらず、既に午前中に教科書を終わらせてしまう強者が居たり……ホント恐ろしい()

				<Br /><Br />

				みんな集中していて、気付かないうちに午前の開発が終了。<Br />
				2日目の昼食はファミリーマート。個々で好きなものを頬張っている姿がすっごく微笑ましかったです。w<Br />
				あと、メンバーよりも子供っぽいメンターさん。w<Br />
				笑いに満ち溢れた1日だったなって思います。

				<Br /><Br />


				<H2 ID = "day3" Class = "subheading subheading-1">ワニワニパニック ― 3日目</H2>
				開発は……もう何やったか覚えてない(おいっ

				<Br /><Br />

				昼前ぐらいに「気分転換ついでにタイピング練習しよう！」というメンターさんの提案があり、みんなで<A Href = "http://typing.sakura.ne.jp/sushida" Target = "_blank">寿司打</A>で遊んでました。<Br />
				暫くして他のグループのメンターさんもやってきて、グループのメンバーとメンターさん、合わせて10人近くでカチャカチャキーボードを叩く事に……w<Br />
				ちなみに自分とメンターさんでタイマンして勝ちました✌︎('ω'✌︎ )←割と嬉しかった()

				<Br /><Br />

				そして昼食タイム！！バーガーキング行きました！<Br />
				久しぶりにアップルパイ食べた……結構安くてビックリΣ(･ω･ﾉ)ﾉ！

				<Br /><Br />

				そして昼食後、とあるお偉い方のワニワニパニック講演会(違う)が開催されました。<Br />
				結構色んな視点からお話を聞かせて頂きました。めっちゃ楽しかった。<Br />
				纏めるとワニワニパニックの凄い人。(だから違う)

				<Br /><Br />

				講演会の途中から物凄い雷雨に見舞われました。ホントに近場に1発落ちたなって感じの音もしましたし、かなり興奮。w<Br />
				この頃からちゃんと完成するかなぁ……って焦り始めました。

				<Br /><Br />


				<H2 ID = "day4" Class = "subheading subheading-1">ひと夏の青春 ― 4日目</H2>
				4日目は、この5日間で一番暑い日でした。池袋駅から数分歩くだけでほんっとに汗だく。<Br />
				この日は開発集中デーという事もあって、集中力が足りなくなる瞬間があったり結構大変でした。

				<Br /><Br />

				途中でメンターさんがコンビニに行くという事で、「一緒に行く人居ませんか？」などと呼びかけていたのですが、私らの教室は誰も手を挙げていなかったので、興味本位で気分転換ついでに行ってみることにしました。w<Br />
				で、その時一緒に行ったメンバーの中に、初日のセレモニーの時に隣に座っていた女の子が居ました。<Br />
				ちょっと気になったので、かなーり勇気を振り絞って話し掛けてみたり。(普段じゃ絶対出来ないw)

				<Br /><Br />

				そしたら覚えててくれていました。かなりビックリ。<Br />
				実はセレモニーの開演まで少し時間があったので、お母さまと世間話をしていたんです。<Br />
				それを覚えててくれたみたいで、知らない所で「フレンドリーな子」だねって言われていたらしく……ww<Br />
				普段は起こせない行動を起こすことが出来るところも、LiTの良い点ではないかと思っています。

				<Br /><Br />

				帰ってきて少ししたらあっという間に昼食に。<Br />
				この日は明らかに高そうなイタリアンのお店、 <A Href = "http://a-pizza.me" Target = "_blank">【A】PIZZA 池袋立教通り店</A>さまにお邪魔しました！！<Br />
				やっぱり暑い事もあってか、ピクルスが身体に染み渡ってめちゃくそ美味しかったです……ԅ( ¯ิ∀ ¯ิԅ)

				<Br /><Br />

				そして昼食後！！この日は開発集中デーなので、やっぱりアクティビティとかないのかなーと思っていました。<Br />
				ですが、やはりあの行事は健在だったようです。<Br />
				そうです。恒例の <B>かき氷タイム</B> です。<Br />
				立教はキャンパス内が広いこともあり、外のスペースにかき氷機が設置されていました。<Br />
				大急ぎで飛びつくみんなの姿を見て、ひとりで大笑いしてました。w

				<Br /><Br />

				そして、ただかき氷を楽しむだけに留まりませんでした。<Br />
				なんと水鉄砲祭りに発展。www

				<Br /><Br />

				誰が持ってきたのか分からないのですが、メンターさんに集中攻撃する子や、メンターさん同士で掛け合ったり。<Br />
				わたしもめっちゃ掛けられました。知らない女の子にも掛けられて、逃げ回って。w<Br />
				ほんっとに楽しくて楽しくて。今まで忘れてきた青春が、一瞬で取り戻せた感じがしました。<Br />
				お陰で(？)開発時間がガリガリ削れてかなりピンチになりましたが(めっちゃ自業自得)、今年一番笑いました。<Br />
				ほんっとに良かったって、心から思いました。

				<Br /><Br />

				30分強ぐらい楽しみまくった後、やっと開発に戻りました。<Br />
				メンターさんが物凄いバテていて、ちょっと笑ってしまったり。w

				<Br /><Br />

				結局、開発時間が圧倒的に足りず、家に持ち帰ることになりました。<Br />
				この日は深夜2:00ぐらいまで作業をして、とりあえず寝ました。

				<Br /><Br />


				<H2 ID = "day5" Class = "subheading subheading-1">青春の幕切れ ― 5日目</H2>
				遂に迎えました。LiTサマーキャンプ、最終日。<Br />
				昨夜は1つ作業を残して眠りについていたので、午前中だけで残りの開発を終わらせて発表会の準備を始めました。

				<Br /><Br />

				めちゃくちゃ急かされて、気付けば昼食の時間に。<Br />
				最終日はみんなで好きなもの買って、みんなで食べようって事でファミリーマートへ。<Br />
				みんな表情変わったんだなってふと思いました。たった5日間で、こんなに変わるんだなって。<Br />
				既にこの時点で泣きそうでした。何とか我慢我慢。

				<Br /><Br />

				そして、発表会が始まりました。<Br />
				メンバーを超える人数の保護者さまがいらっしゃり、うちらのグループもめちゃくちゃ緊張しているようでした。<Br />
				一番強がってたけど、一番緊張してたのは私かもしれません。<Br />
				本当に今まで経験した事の無い空気でした。あの優しい空気が、すごく好きでした。

				<Br /><Br />

				隣で「めっちゃ無理ー！！」って話してた子が、本番になるとしっかりやり切っていました。<Br />
				ホントにスゴイな、よく頑張ったねって思いながらマイクを受け取って、自分も本気で頑張って。<Br />
				発表会を終えて、みんなの顔は最高にキラキラ輝いていました。

				<Br /><Br />

				そして全チームの発表が終わり、そのまま体験会へ。<Br />
				思ったよりも多くの人が足を運んでくれていたみたいで、わたしのデザインも見て頂けました。

				<Br /><Br />

				そして遂に。<Br />
				クロージングセレモニーを迎える事となります。

				<Br /><Br />

				5日間。文字にすればとても長く感じますが、体感上では本当に短い日々でした。<Br />
				まるで昨日来たばっかりの様な感覚で、もっと楽しんでいたくて。<Br />
				エンディングセレモニーが始まって、5日間の振り返りが始まった時には既に涙が止まりませんでした。<Br />
				もうこのメンバーには会えないのかな。せっかく仲良くなれたのに、もうバイバイなのかな。<Br />
				既に色々考えていましたが、少し割愛します。

				<Br /><Br />

				セレモニーが終了し、開発部屋に戻って個別で表彰式をすることになりました。<Br />
				その時は何とか我慢して、我慢して。少しだけ涙流れちゃったけど、それでも我慢して。<Br />
				メンターさんの「今回は泣かないんでしょ！」って声もあって、何とか自分を保っていました。

				<Br /><Br />

				最後に、みんなでうちわにサインをしました。<Br />
				一人一人、5日間ありがとうとか、楽しかっただとか、頑張ってね、だとか。<Br />
				5日間の色んな思い出が詰まっている、最高のプレゼントを一人一人から貰いました。

				<Br /><Br />

				<Img Class = "responsive-img materialboxed" Src = "001.jpg" Alt = "001" />

				<Br /><Br />

				ホントのホントに最後、みんなのサインが終わってそれぞれ解散になりました。<Br />
				教室から出る、その瞬間。涙が溢れて止まらなくなって。

				<Br /><Br />

				もうここには戻ってこれない。もうこの空気を味わう事は出来ない。<Br />
				大好きな、この空間に浸る事はもう出来ない。<Br />
				色んな感情で溢れて、大号泣してしまって。<Br />
				本当に楽しかった分、終わりが本当に辛くって。<Br />
				ずっとここに居たくて、だけど居る事は出来なくて、ここを出てしまったら全て忘れてしまいそうな不安に駆られて、辛くて苦しくて。

				<Br /><Br />

				この最高の時間をずっと過ごしていたくて、たまらなくなって、バイバイって一言呟くのが凄く怖くて。<Br />
				気付いた時にはしゃがみこんで居ました。でも、メンターさんたちが「また戻ってきなよ」って言ってくれて。<Br />
				わたしは大好きな空間を、色んなメンターさんとハイタッチして、去る事にしました。

				<Br /><Br />

				3年前と同じように、また今年も泣いて現実へと帰ってきました。

				<Br /><Br />


				<H2 ID = "conclusion" Class = "subheading subheading-1">まとめ</H2>
				ここまで5日間振り返ってきましたが、最後にいくつか、まとめとして書いておきたいと思います。

				<Br /><Br />

				まず、今回のキャンプでわたしが得ることが出来たものについて。<Br />
				今回のキャンプで <B>最高の友だち</B> が出来ました。<Br />
				一緒にコードをにらめっこし合って、笑いあって、時間を共有して、色んな事を一緒にしてきた、最高の仲です。

				<Br /><Br />

				そして <B>青春</B> を味わえました。<Br />
				日常では絶対に味わうことが出来ないものはたくさんあります。<Br />
				LiTのキャンプは、それらを存分に味わえる機会を与えてくれると感じています。

				<Br /><Br />

				しばらくこの5日間を原動力にして、生きていきたいと思います。<Br />
				メンターさんやメンバーのみんなが、本当に色んな意欲を湧かせてくれました。

				<Br /><Br />

				最後に一言だけ。<Br />
				まみ、みやさん、ゆうや、ふーちゃん、ゆうか、そしてえぃみぃ。<Br />
				これからも、自分らしく突っ走っていってください。ずっと応援しています。

				<Br /><Br />

				本当に最高の5日間、最高の夏をありがとう。
			</Article>
<%- include("../../!templates/_blog-footer") %>