.heading {
	@extend h5 !optional;

	display: flex;
	align-items: flex-end;

	line-height: 1.5;
	border-bottom: 1px solid $primary-color;

	&::before {
		content: "";

		display: inline-block;
		vertical-align: bottom;
		margin-right: 0.5em;

		border: 0.75em solid transparent;
		border-color: transparent $primary-color $primary-color transparent;
	}
}