<%- include("../../!templates/blog/_blog-header", { id: 17, title: "🎉17歳の自分に。🎉", publishedAt: "2019/3/3" }) %>
			<Article Class = "article-content">
				皆さんお久しぶりです。げんちゃんです。<Br />
				もう早いもので、また一つ歳を重ねてしまいました。<Br />
				あっという間に17歳ですね……😅

				<Br /><Br />
				
				先の一年間、ホントに色んな事がありました。<Br />
				リアルの話では、文化祭に今までに無いくらいに死ぬ気で取り組んだり、様々なマイプロジェクト運動に参加したり。<Br />
				そしてネット上では、Mastodonインスタンス「<A Href = "https://itabashi.0j0.jp/" Target = "_blank">板橋丼(Itabashi-don)</A>」を設立したり、いつも通り色んな物を作ったり、などなど……。<Br />
				こんなに濃厚な毎日を過ごすのが、ホントに楽しかったです。<Br />
				今までで最高の一年だったなと、自信を持って断言したく思います。

				<Br /><Br />
				
				さて、17歳としての一年間を迎えるにあたって、また新しい目標を設定します。<Br />
				そうでもしないとモチベとか上がらないので。ｗｗ

				<Br /><Br />
				
				この一年間の目標は「 <B>常識をぶっ壊せ。</B> 」<Br />
				どーせ途中で気が変わる気はするけど、まぁ気が変わるまではこれで。笑

				<Br /><Br />
				
				今回の目標を思い立った理由はいくつかあります。

				<Br /><Br />
				
				まず一つ目に、 <B>あと1ヶ月程で受験生になってしまう</B> ということ。<Br />
				高校3年生になると、学生生活期間を含むあらゆる事が変わっていきます。<Br />
				例えば3学期がなかったり、部活は引退の時期だったり……。<Br />
				ホントに色んな事が挙げられるかと思います。<Br />
				その中でも、私はもう一回文化祭にぶつかっていきたいと思っています。

				<Br /><Br />
				
				昨年の記事で触れたとおり、今年度の文化祭で初めてライブイベントに出演させていただきました。<Br />
				ですが、それは正規枠ではなく、あくまでも先生が用意してくださった <B>慈悲枠</B> での出演でした。<Br />
				当初はその枠を断ろうと思っていました。<Br />
				そりゃオーディションに落ちたのにもかかわらず、厚かましく出演させていただくなど、自分が望んだものではなかったので。

				<Br /><Br />
				
				当時は明るく振る舞っていたつもりでした。<Br />
				他の生徒と比べると、今までの音楽関連の経歴がある上に「高2＝最高学年」ということで、まず落ちることはないだろう、と踏んでいました。<Br />
				それなのにたった1人、自分だけが落ちてしまった。後輩にも負けてしまった。<Br />
				あそこまで恥ずかしさと悔しさで一杯になったのは、ホントに久しぶりでした。<Br />
				だからこそ、今年こそ、自分の歌で舞台に立ちたい。<Br />
				あの日からずっとずっと、その思いは変わっていません。

				<Br /><Br />
				
				恐らく高3がエントリーするなど前代未聞の事態でしょう。<Br />
				確実に先生にも止められるでしょう。<Br />
				だけど、だけどそれでも、私は歌を歌いたい。<Br />
				だから私は来年度も、オーディションになったとしても、本気で全身全霊の歌を届けたいと思います。

				<Br /><Br />
				
				そして二つ目に、 <B>自分一人の行動で周りを変えられる</B> ということ。<Br />
				これも過去記事で触れましたが、国境越えをこの一年間続けてきました。<Br />
				文化祭で顔と名前を知られてから、正直嫌になる日もたびたびありました。

				<Br /><Br />
				
				ですが、私がやり始めたことで周囲が変わり始めたことがあります。<Br />
				それは <B>朝の待ち合わせ</B> です。

				<Br /><Br />
				
				最初は普通に親友くんと待ち合わせしていただけでした。<Br />
				ですが、回数を重ねていく内に『これは面白いことができるな』と考え付き、観察を始めました。<Br />
				すると2週間ほどで、今まで居なかったはずの「出待ち軍団」が現れ始めました。

				<Br /><Br />
				
				これに関しては、個人的にも凄く面白い結果になったな、と感じています。<Br />
				今まで <B>常識ではないこと</B> が、新しく <B>常識予備軍</B> になった。<Br />
				この経験を通して、きっと一人の行動でも環境は変えられる、という考えに帰結しました。<Br />
				だからこそ、あと1年でどこまで変えられるのか、新しい世界を見てみたい。<Br />
				そんな思いで、この新しい1年を過ごしていきたいと思います。

				<Br /><Br />

				以上、若干冗長になりましたが、常識をぶっ壊す毎日を過ごしていきたいと思います。<Br />
				例を挙げると、受験生なのに勉強だけではなく、適度に遊んでいく。<Br />
				数日勉強しても、何も変わらない。<Br />
				それならば、数日勉強しなくても何の支障も来たさない。<Br />
				このように <B>論理的</B> な思考に基づいて、しっかり <B>反抗</B> していきたいなーと。

				<Br /><Br />
				
				だからこそ、来年になっても一人涼しい顔して、毎日を有意義に過ごします。<Br />
				最後になりますが、今年度もよろしくお願い致します。<Br />
				浮上率は一層低くなると思いますが、どうか可愛がってください。笑笑

				<Br /><Br />
				
				最後に、今年頂いたプレゼントを紹介させてください。<Br />
				ほんっとに嬉しいです。ありがとうございます……！！🙏🙏

				<Div Class = "carousel">
					<Img Class = "carousel-item" Src = "./001.jpg" Alt = "001" />
					<Img Class = "carousel-item" Src = "./002.jpg" Alt = "002" />
				</Div>
			</Article>
<%- include("../../!templates/blog/_blog-footer") %>