<%- include("../../!templates/blog/_blog-header", { id: 5, title: "✨16歳を迎えて✨", publishedAt: "2018/3/3" }) %>
			<Article Class = "article-content">
				みなさん、どうもおはこんばんにちは。Genbooです。<Br />
				世間はひな祭りで賑わう中、ひっそりとまた一つ、無事に歳を重ねることが出来ました。

				<Br /><Br />

				もう16歳なのかーと考えると色々な思い出が蘇ってきます。<Br />
				本当にこの1年で色んな事があったと思います。

				<Br /><Br />

				ただ「何となく」に任せて新しい1年を過ごすのも何か違うかなーと感じたので、<Br />
				ひとまずですが大まかな目標を立ててみました。

				<Br /><Br />

				それは、<B>自分に対して素直に過ごす</B>ことです。<Br />
				この1年、自分なりに達成できるように頑張っていきたいと思います。

				<Br /><Br />

				最後になりますが、今年も色んな方々から素敵なプレゼントを頂きましたので、紹介で締めくくりたいと思います。<Br />
				ではまた、この1年もよろしくお願いします。

				<Div Class = "carousel">
					<Img Class = "carousel-item" Src = "001.png" Alt = "001" />
					<Img Class = "carousel-item" Src = "002.png" Alt = "002" />
					<Img Class = "carousel-item" Src = "003.png" Alt = "003" />
					<Img Class = "carousel-item" Src = "004.jpg" Alt = "004" />
					<Img Class = "carousel-item" Src = "005.jpg" Alt = "005" />
					<Img Class = "carousel-item" Src = "006.jpg" Alt = "006" />
				</Div>
			</Article>
<%- include("../../!templates/blog/_blog-footer") %>