@charset "UTF-8";

Announce {
	display: block;
	margin: 1em 0;
	padding: 1em;

	background: darkkhaki;
	border: medium ridge lightseagreen;

	> Date {
		border-bottom: thin solid;
	}

	A {
		color: purple;
	}
}