<%
	include("../_global");

	init({
		id: '0',
		title: '""',
		publishedAt: '""'
	});
%><%-
	include("../_header", {
		name: id,
		title,

		libraries: [
			{ type: "STYLE", src: "../Blog.css" }
		],

		SITENAME: "どっかのプログラなーいのブログ。"
	}) %>
			<%- `<H1 Class = "article-info heading" Style = "--publishedAt: '(投稿日時：${publishedAt})'">` %>
				<Span Class = "article-title"><%= title %></Span>
			</H1>
			