<%- include("../../!templates/blog/_blog-header", { id: 16, title: "当サイトのリニューアルについて", publishedAt: "2018/12/27" }) %>
			<Article Class = "article-content">
				どうもこんにちは。げんちゃんです。<Br />
				もう早いものでクリスマスは過ぎ去り、あっという間に年の終わりが近づいています。

				<Br /><Br />

				今年の冬休みはすっごく暇です。ほんとにやばいぐらい。ｗ<Br />
				……という訳で、この数日間で当サイトをリニューアルしました！！<Br />
				個人的には、結構満足な仕上がりになってます( ˙꒳​˙  )

				<Br /><Br />

				改善点・変更点としては主に2つ挙げられます。

				<Br /><Br />

				1つは、<B>サイトの製作に用いた言語</B> です。<Br />
				従来の本サイトはHTML, CSS, JavaScriptを用いてきました。<Br />
				ですが、今回のリニューアルでは新たにEJS, SCSSを採用しました。<Br />
				ですので、<B>ソース(EJS, SCSS)</B> と <B>コンパイルしたもの(HTML, CSS)</B> の双方をコミットする形式を採っています。

				<Br /><Br />

				そして2つ目に、<B>ライブラリの変更</B> です。<Br />
				元々は <B><A Href = "https://material.io/develop" Target = "_blank">Material Design Components</A></B> を利用していましたが、今回から <B><A Href = "https://materializecss.com" Target = "_blank">Materialize</A></B> へと転換しました。<Br />
				これにより、スタイリングに大幅な変更が加わっています。

				<Br /><Br />

				上に挙げた2つ以外にも変更点がいくつか存在します。<Br />
				例えば<A Href = "/Product/">製品一覧ページ</A>の追加や、<A Href = "/Blog/">ブログ一覧ページ</A>の追加など、他に細かい部分の修正もちらほらあります。<Br />
				そして、<B><A Href = "/Portfolio/">ポートフォリオ</A></B> の製作も始めました。<Br />
				ほぼほぼ自分用になってしまうのですが、まぁ結局の所全て自己満ですし、作ってみてもいいかなーと。ｗ

				<Br /><Br />

				恐らくは当分の間、今のレイアウトで満足できると思いますので、大規模なリニューアルは致さないつもりです。<Br />
				ちょこちょこ記事書いたりしていきたいなとは思いますので、改めましてよろしくお願い致します(*･ω･)*_ _)

				<Br /><Br />

				ではまた、良いお年をお迎えくださいませ。
			</Article>
<%- include("../../!templates/blog/_blog-footer") %>