ModName {
	Display: Block;
	
	Margin: 0.5em 0 1em 0;
}

ModName:Not(.noImage)::Before {
	Width: 2rem;
	Height: 2rem;
	
	Background-Position: Center;
	Background-Size: Cover;

	Border: None !Important;
}

Main > Section {
	Margin-Bottom: 2rem;
}

Main > Section:Last-Child {
	Margin-Bottom: Auto;
}

SectionName {
	Display: Block;
}

Section > Content {
	Display: Block;

	Margin-Left: 1.25rem !Important;
	White-Space: Pre-Line;
}

ItemCard {
	Display: Block;
	Width: 256px;

	Margin: 0 1em 1em 0;
	White-Space: Initial;
}

ItemCard > Item {
	Display: Block;
	Height: 256px;

	Background: Transparent Center / Contain;
	Background-Color: RGBA(0, 0, 0, 0.25);
	Background-Repeat: No-Repeat;
}

ItemCard ItemName, ItemCard ItemID {
	Display: Block;
}

Changelog {
	Display: Block;

	White-Space: Initial;
}

Changelog > ModVersion {
	Display: Block;
}

Downloads {
	Display: Block;
}