main .mod-name:not(.noImage)::before {
  width: 1.5em;
  height: 1.5em;
  background-position: center;
  background-size: cover;
  border: none !important;
}

main .item-list {
  display: flex;
  flex-wrap: wrap;
}

main .item-list .item {
  display: inline-block;
  width: 256px;
  margin-right: 1em;
}

main .item-list .item:last-of-type {
  margin-right: inherit;
}

Main Section {
  margin-bottom: 2rem;
}

Main Section:last-child {
  margin-bottom: auto;
}

Main Section > Content {
  display: block;
  margin-left: 1.25rem;
  white-space: pre-line;
}

ItemCard {
  display: block;
  width: 256px;
  margin: 0 1em 1em 0;
  white-space: initial;
}

ItemCard > Item {
  display: block;
  height: 256px;
  background: transparent center / contain;
  background-color: rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
}

ItemCard ItemName,
ItemCard ItemID {
  display: block;
}

Changelog {
  display: block;
  white-space: initial;
}

Changelog > ModVersion {
  display: block;
}

Downloads {
  display: block;
}
