<%- include("../../!templates/_blog-header", { id: 1, title: "ブログ、始めました。", publishedAt: "2018/2/12" }) %>
			<Article Class = "article-content">
				前々から少しずつ製作してきた<A Href = "https://github.com/GenbuHase/ArticleEditor" Target = "_blank">Article Editor</A>がとりあえず完成したので、コイツを使って少しずつブログを書いていきたいと思ってます。

				<Br /><Br />

				<S>…モチベが続けｂ(((殴</S>

				<Br /><Br />

				さて、気付けば今年も既に2ヵ月が過ぎています…早いですね:( ;´꒳`;):<Br />
				最近想定外にプログラミングに飽きが来ていて何もする事がなく、その中でふと「ちゃんと作るか」と思ったのがArticle Editorでした。<Br />
				まぁ一回作ってしまえばそのまま自分のサイトに使えるので、強制的にモチベ上げて…みたいな感じで何とか無事に出来ました。

				<Br /><Br />

				…はい。<Br />
				<S>全然書くことねぇ</S>

				<Br /><Br />
				
				まぁこんな感じでちょくちょく書いていくかと思いますが、今後ともよろしくお願いします(*･ω･)*_ _)
			</Article>
<%- include("../../!templates/_blog-footer") %>