<%- include("../../!templates/blog/_blog-header", { id: 15, title: "「自分を変える、一年を。」プロジェクトの進捗について", publishedAt: "2018/11/14" }) %>
			<Article Class = "article-content">
				みなさんどうも、お久しぶりです。げんちゃんです｡ﾟ☆.(∗ ˊωˋ ∗).☆ﾟ。<Br />
				前回の記事から早3ヶ月になっていました……ちょっとビックリですｗ

				<Br /><Br />

				さて、<A Href = "../13">過去記事</A>で書いたとおりですが、「自分を変える、一年を。」という目標を掲げてきました。<Br />
				あれから色々ありましたので、勝手ですが纏めて報告したいと思います(ฅ'ω'ฅ)

				<Br /><Br />

				先に結論から言うと、しっかり目標達成できたと感じています。<Br />
				目標を掲げ始めてからまだ半年も経っていない状況ですが、自分でも信じられないぐらいです。<Br />
				この数ヶ月間、自分を変えるために色んなことをしてきました。

				<Br /><Br />

				まず一つ目に、<A Href = "../6">周囲と違うこと</A>をしてみました。<Br />
				恐らく数十年間続いてきたと思われる暗黙の伝統を、敢えて打ち破ることで自分を変える練習をしました。<Br />
				実を言うと、国境超えを始めてから一週間で普通に慣れてしまい、今でもずっと国境超えを続けていますw

				<Br /><Br />

				そして二つ目に、文化祭に <B>クラスとして</B> 本気で打ち込んでみました。<Br />
				今まで学校行事に関して、自分から率先的に関わっていくということはしていませんでした。(迷惑になるのが怖いから💦)<Br />
				ですが、早くも高校最後の文化祭を迎えることとなり、『どうせなら精一杯頑張って、精一杯楽しみたい！』と思い立ちました。<Br />
				そこで文化祭の出し物に決まった「演劇」を、至って真剣に、至って本気でやってみようと決心した訳です。

				<Br /><Br />

				その甲斐もあってか見事ヒロイン役に抜擢され、最終的には <B>脚本・台本・演出(舞台・照明・背景)・出演</B> の6つを担当しました。<Br />
				ホントは他の子が書いてくれるはずだったんですけどね……何でだろね(すっとぼけ)

				<Br /><Br />

				加えて三つ目、文化祭に <B>個人として</B> 本気で打ち込んでみました。<Br />
				うちの学校の文化祭では、毎年生徒たちによるライブがあります。<Br />
				来年は高校3年生。一般的に、彼らの11月というのはとても忙しい時期にあたります。<Br />
				だからこそ今年は頑張ってみよう！と、オーディションに参加しました。

				<Br /><Br />

				オーディションは残念ながら落選となりました。<Br />
				ですが、約一名の先生の計らいによって、なんと別枠での出演をさせて頂くことになりました。<Br />
				数百名という生徒の大群の中に出て、自分の歌を聞いてもらう。控えめに言っても、かなり緊張することだと思います。<Br />
				が、今回の場合は何故か全く緊張しませんでした。今考えてもすごく不思議なのです。ｗ<Br />
				しかも、出演したお陰で色んな人に顔を覚えてもらえたんです！！ｗ<Br />
				今までの学生生活で、こんな事は一度もありませんでした。今でも心底嬉しいです。

				<Br /><Br />

				翌日、色んな子たちから声を掛けてもらいました。<Br />
				「あれ？あの子って昨日ライブ出てた子じゃない？」「えっ、ホントだ！！（ザワザワ）」など。<Br />
				そんな会話が聞こえるたびに、嬉しくて嬉しくてニヤケが止まりません。ほんとに。ｗ

				<Br /><Br />

				そして色んな子たちと一緒に、写真も撮りました♡(´˘`๑)<Br />
				……わたしの方には1枚も来てないけど😶😶

				<Br /><Br />

				そういう事があって、ホントにパワーを貰えたし、色んなコネクションが広がりました。<Br />
				そういう意味でも凄く貴重な体験をさせていただけたな、と感じております。<Br />
				本当に粋な計らいをしていただいた先生、ありがとうございました。感謝の気持ちで胸がいっぱいです。

				<Br /><Br />

				そして四つ目、学生にしか出来ないことをしてみます。これに関しては現在進行系です。<Br />
				高校生に出来て、大学生に出来ないことは数多くあると考えています。<Br />
				そして忙しい分、上手く行けば充実した毎日を送れると思います。なお、送るには相当な体力が要りますが……w

				<Br /><Br />

				だから、せめて今年が終わるまで、頑張って走り抜きたいと思います。<Br />
				このプロジェクトの最後を締めくくる、いいきっかけを作りたいと考えています。

				<Br /><Br />

				最後に、まとめると「自分を変える、一年を。」プロジェクトは、ほぼほぼ達成できました！！🙌🙌<Br />
				ホントに短期間ではあるものの、身に沁みて自分の成長を感じることが出来ました。

				<Br /><Br />

				そして、これからもこのプロジェクトは続けていきたいと思います！！<Br />
				出来る限り、自分を高めるために残りの1年強を投じていきたいと思います。

				<Br /><Br />

				色々手助けしてくださった皆様、本当にありがとうございました。

				<Br /><Br /><Br /><Br />



				P.S.<Br />
				……誰か褒めて(/ω・＼)
			</Article>
<%- include("../../!templates/blog/_blog-footer") %>