main .mod-name:not(.noImage)::before {
  width: 1.5em;
  height: 1.5em;
  background-position: center;
  background-size: cover;
  border: none !important;
}

main .item-list {
  display: flex;
  flex-wrap: wrap;
}

main .item-list .item {
  display: inline-block;
  width: 256px;
  margin-right: 1em;
}

main .item-list .item:last-of-type {
  margin-right: inherit;
}
