<%- include("../../!templates/_blog-header", { id: 6, title: "【Mastodon】非公開トゥートの挙動を変えてみた話。", publishedAt: "2018/3/26" }) %>
			<Article Class = "article-content">
				※この記事は<A Href = "../7">こちら</A>に続きます。

				<Br /><Br /><Br /><Br />

				どうも、みなさんこんにちは。Genbooです。<Br />
				今日から春休みに入り、時間的にも余裕が出てきました。<Br />
				時間にモチベも重なって、久しぶりにプログラミングにのめり込めてる気がします。

				<Br /><Br />

				さて、最近ですがMastodonというSNSに没頭しています。<Br />
				それも世界1位のTPD(Toot per Days, 要するに1日の平均投稿率)ユーザーにも数回なっています……ｗ

				<Br /><Br />

				<S>つまり廃人ですね(白目)</S>

				<Br /><Br />

				そこで最近はMastodon関連のツールを製作することがかなり増えてきました。<Br />
				それにとどまらず、Mastodon自体のソースにも手を出し始め……。<Br />
				という事で改善してみた機能が <B>非公開トゥート</B> になります。

				<Br /><Br />

				また、開発にあたって参考にさせて頂きました！！ありがとうございます！！🙏🙏🙏<Br />
				<Script Src = "https://gamelinks007.net/embed.js" Async = "Async"></Script>
				<IFrame
					Class = "mastodon-embed"
					Src = "https://gamelinks007.net/@S_H_/99691071767594021/embed"
					Style = "Max-Width: 100%; Border: 0"
					Width="400">
				</IFrame>

				<Br /><Br />

				<H2 Class = "subheading subheading-1">実際の挙動</H2>
				元来Mastodonには非公開トゥートの機能が実装されています。<Br />
				しかし十分に満足できる挙動<A Href = "#注釈1"><Sup>[注釈1]</Sup></A>ではなく、また不便なシチュエーションも多々出てきたため、<Br />
				『じゃあいっちょ変えてみっか！！』の一声で開発を始めました。

				<Br /><Br />

				改善された非公開トゥートのコードは<A Href = "https://github.com/GenbuProject/mastodon/tree/feature/deprecated/privateToot" Target = "_blank">Github</A>に上げてあります。<Br />
				Rubyに関しては初心者どころか全くの未経験者なので、基礎的な部分の理解すらままならずにコミットしてしまったりでコミット数が多くなっていますが、修正箇所はかなり少なかったです。

				<Br /><Br />

				<S>以下にて行程ごとに分けて解説をしていきます💪💪</S>

				<Br /><Br />

				【追記】<Br />
				かなり余裕がなかったので、次の記事にて解説記事を出させて頂こうかなと思ってます…<Br />
				書きかけの状態で広まってしまったこと、大変申し訳ございませんでした。

				<Br /><Br />

				そして、非公開トゥートと記事が気に入らなかったので、どちらも書き直しを行いました。<Br />
				記事は<A Href = "../7">こちら</A>からどうぞ。

				<Br /><Br /><Br />

				<Span ID = "注釈1">[注釈1]</Span><Br />
				現実：自分の <B>フォロワー</B> に対して公開<Br />
				理想：自分が <B>フォローしているユーザー</B> に対して公開
			</Article>
<%- include("../../!templates/_blog-footer") %>