<%
	include("./!templates/_global");
%><%-
	include("./!templates/_header", {
		name: "index",
		isHome: true
	}) %>
			<Span Class = "heading">トップページ</Span>

			<Article>
				当サイトに足をお運び頂き、誠にありがとうございます。<Br />
				1人でも多くの方々を楽しませられるようなコンテンツの充実を図りたいな、と思います。<Br />

				<Br /><Br /><Br /><Br />

				<B>嘘です。(前言撤回)</B><Br />
				自己満足の為に建てたサイトということもあり、色々偏っているかと思います。<Br />
				まぁこんなサイトでも楽しんで頂けるととっても喜びます( ˙꒳​˙  )←<Br />

				<Br /><Br />

				では、どうぞごゆっくり。
			</Article>
<%- include("./!templates/_footer") %>