<%-
	include("./!templates/_header", {
		name: "index",
		isHome: true, hasStyle: true
	}) %>
			<H1 Class = "mdc-typography--headline">トップページ</H1>

			<Article Class = "mdc-typography--body2">
				当サイトに足をお運び頂き、誠にありがとうございます。
				1人でも多くの方々を楽しませられるようなコンテンツの充実を図りたいな、と思います。



				<B>嘘です。(前言撤回)</B>
				自己満足の為に建てたサイトということもあり、色々偏っているかと思います。
				まぁこんなサイトでも楽しんで頂けるととっても喜びます。←

				では、どうぞごゆっくり。



				…あっ。良かったらGoogle+も覗いてみて下さいね？
				左メニューから共有も、是非よろしくお願いします！！(*･ω･)*_ _)

				<Div Class = "g-person" Data-Href = "https://plus.google.com/106666684430101995501" Data-Rel = "author"></Div>
			</Article>
<%- include("./!templates/_footer") %>