<%- include("../../!templates/_blog-header", { id: 9, title: "国境を超えた日", publishedAt: "2018/4/24" }) %>
			<Article Class = "article-content">
				わたしはこの4年間の大半を、異性が居ない生活の中で暮らしている。<Br />
				駅からしばらく大通りに沿って登校する事になるのだが、近くに他の学校があるために校則<A Href = "#注釈1"><Sup>[注釈1]</Sup></A>などにはない <B>暗黙のルール<A Href = "#注釈2"><Sup>[注釈2]</Sup></A></B> が、いつからか生まれていたようだ。

				<Br /><Br />

				わたしの今年の目標は2つ定めていた。<Br />
				一つは自分に素直になること。(<A Href = "../5">過去記事</A>でも書いていました。)<Br />
				そして、もう一つは <B>ぶっ飛んでいく</B> ということだった。

				<Br /><Br />

				ぶっ飛んでいく。そう決めたのはいいものの、結局自分のメンタルの脆さが歯止めになって何も出来なかった。<Br />
				そういうしている内に高2の春がやってきた。<Br />
				青春などない、いつもの毎日がまた、やってきた。

				<Br /><Br />

				いつも通りに登校していたあの日、わたしは <B>反対側</B> にとある勇者を見た。<Br />
				ただ校則を理解していなかったのか、それとも何らかの意図があっての事かは分からない。<Br />
				わたしの何かが引っかかった。

				<Br /><Br />

				ぶっ飛んでいくって言ったのは誰だ。<Br />
				このままじゃ何も変わらない。<Br />
				変われない、またいつもと変わらない日々が来てしまう。

				<Br /><Br />

				だから今日、わたしは試しに勇者になってみた。<Br />
				幸いというべきか分からないが、時間帯の割にはB学校の生徒が居なかった。<Br />
				後ろに居たのかもしれないが、少しの恥ずかしさと怖さで振り向く事は出来なかった。

				<Br /><Br />

				だけど、大きな発見だった。<Br />
				かなり楽だった。

				<Br /><Br />

				そもそもA学校とB学校では通学路の数が違う。<Br />
				A学校は1つしかないのに比べて、B学校は3つもあるせいだろうか、通学路を通る生徒の割合が違う。<Br />
				だからピーク時でもそこまで混まないし、ちょうど足を負傷しているわたしにとっては非常に楽だな、と感じた。

				<Br /><Br />

				これは一種の <B>反抗</B> に入るのかもしれない。<Br />
				けれども、それがまた心地よかった。<Br />
				いつもとは違う <B>非日常</B> を体感出来たのが、心底嬉しかった。

				<Br /><Br />

				今日1日やってみたが、B学校の生徒が居なかったために十分には分からなかった。<Br />
				だからわたしは明日も <B>国境を超えて</B> 登校する。<Br />
				そんな言い訳を、これからしばらくしていくことになるだろう。

				<Br /><Br />

				きっと、いつかは周りの視線に慣れる日が来るだろう。<Br />
				その日が来る前に、B学校の生徒に何か言われないか心配という事だけが少々心残りだ。

				<Br /><Br /><Br /><Br />

				P.S. (2018/04/24 21:15)<Br />
				良いタイトル、戴きました。<Br />
				ありがとなのです(<B> ॑꒳ ॑* )⋆</B>

				<Br /><Br />

				P.S.<Br />
				題名が適当過ぎたので、誰かいい名前あったら付けて下さい。

				<Br /><Br /><Br /><Br />

				<Span ID = "注釈1">[注釈1]</Span><Br />
				《登下校について》<Br />
				➀ 登下校の際は <B>定められた通学路</B> を通る。(生徒手帳 P.144より抜粋)

				<Br /><Br />

				《通学路について》<Br />
				○○駅を出て、××通りに沿って本校まで登校してください。(学院生活のしおりより抜粋)

				<Br /><Br />

				<Span ID = "注釈2">[注釈2]</Span><Br />
				A学校の生徒は大通りを跨いだ <B>左側</B> を歩き、B学校の生徒は大通りを跨いだ <B>右側</B> を歩く。
			</Article>
<%- include("../../!templates/_blog-footer") %>