HTML, Body {
	Height: 100%;
}

Body {
	Display: Flex;
	Flex-Direction: Row;

	Margin: 0;
}



Div[Data-Component="Frame-Content"] {
	Display: Flex;
	Flex-Direction: Column;

	Flex: 1;
}

Main {
	Flex: 1;
	Padding: 1em;

	Border: None;
}