HTML, Body {
	Height: 100%;
}

Body {
	Margin: 0;
}

Table {
	Border-Collapse: Collapse;
}

Div[Data-Component="Frame-Content"] {
	Display: Flex;
	Flex-Direction: Column;
}

UL[Data-Component="Frame-Drawer_SNSList"] {
	Margin: 0 Auto;
}

UL[Data-Component="Frame-Drawer_SNSList"] > A > Span {
	Vertical-Align: Middle;
}

Main {
	Flex: 1;
	
	Padding: 1rem;
}

Main Img {
	Max-Width: 100%;
}



.mdc-typography--headline {
	Display: Flex;
	Align-Items: Flex-End;

	Border-Bottom: Thin Solid LightSeagreen;
}

.mdc-typography--headline::Before {
	Content: "";
	
	Display: Inline-Block;
	
	Margin-Right: 0.5em;
	Border: 1rem Solid Transparent;
	Border-Color: Transparent LightSeagreen LightSeagreen Transparent;
	
	Vertical-Align: Bottom;
}

.mdc-typography--subheading2 {
	Display: Flex;
	Border-Bottom: Thin Solid MediumPurple;
}

.mdc-typography--subheading2::Before {
	Content: "";

	Display: Inline-Block;
	Width: 0.5rem;
	Min-Width: 0.5rem;
	Margin-Right: 0.5em;

	Background: MediumPurple;
}

Pre.prettyprint {
	Width: Auto;
	Margin: 0;

	Font-Family: "Meiryo UI";

	White-Space: Pre;
	Overflow-X: Auto;
}

YouTube {
	Position: Relative;

	Display: Block;
	Width: 100%;

	Padding-Top: 56.25%;
}

@Media (Min-Width: 800px) {
	YouTube {
		Width: 640px;
		Height: 360px;

		Padding-Top: 0;
	}
}

YouTube > IFrame {
	Position: Absolute;
	Top: 0;
	Right: 0;

	Width: 100%;
	Height: 100%;
}

Announce {
	Display: Block;
	
	Margin: 1em 0;
	Padding: 1em;
	Background: DarkKhaki;

	Border: Medium Ridge LightSeagreen;
}

Announce > Date {
	Border-Bottom: Thin Solid;
}

Announce A {
	Color: Purple;
}

Album {
	Display: Flex;
	Flex-Direction: Row;
	Flex-Wrap: Wrap;
	Justify-Content: Space-Around;
	Align-Items: Baseline;
}

Album Img {
	Width: 30%;
}