<%-
	include("../!templates/_template-header", {
		name: "Drawing",
		title: "どろういんぐ。",
		favicon: "favicon.ico",

		isHome: false, hasScript: true, hasStyle: true
	}) %>
			<H1 Class = "mdc-typography--headline">どろういんぐ。</H1>

			<Announce>
				<Date Class = "mdc-typography--subheading2">2018/01/05(Fri)</Date>
				<Summary Class = "mdc-typography--body2">
					LINEクリエイターズスタンプにて<A Href = "https://store.line.me/stickershop/product/1864073/" Target = "_blank">Genbooスタンプ</A>が発売されました！！<Br />
					もし気に入って頂けましたら幸いです！！
				</Summary>
			</Announce>

			<Album Class = "mdc-grid-list">
				<UL Class = "mdc-grid-list__tiles">
					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>＼ﾃﾞｪｪｪｪｪｪﾝ／</Drawing-Title>
							<Drawing-DrawedAt>2017/12/30</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>Android・iOS論争</Drawing-Title>
							<Drawing-DrawedAt>2017/12/03</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>
					
					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>ありがと</Drawing-Title>
							<Drawing-DrawedAt>2017/12/02</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>うれしみが深い</Drawing-Title>
							<Drawing-DrawedAt>2017/12/03</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>おつかれ</Drawing-Title>
							<Drawing-DrawedAt>2018/02/09</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>きらきら</Drawing-Title>
							<Drawing-DrawedAt>2017/10/09</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>だいすき</Drawing-Title>
							<Drawing-DrawedAt>2018/02/08</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>なか卯最終形態</Drawing-Title>
							<Drawing-DrawedAt>2017/12/30</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>なんなんぎんなん</Drawing-Title>
							<Drawing-DrawedAt>2017/11/13</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>にんげん</Drawing-Title>
							<Drawing-DrawedAt>2017/11/12</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>にんじん</Drawing-Title>
							<Drawing-DrawedAt>2017/11/12</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>はぁと</Drawing-Title>
							<Drawing-DrawedAt>2017/10/09</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>ポッ by はるるん</Drawing-Title>
							<Drawing-DrawedAt>2017/12/02</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>ゆるせにゃん</Drawing-Title>
							<Drawing-DrawedAt>2017/12/17</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>わかりみが深い</Drawing-Title>
							<Drawing-DrawedAt>2017/11/12</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>暇</Drawing-Title>
							<Drawing-DrawedAt>2017/10/09</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>過疎たす</Drawing-Title>
							<Drawing-DrawedAt>2017/10/09</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>私</Drawing-Title>
							<Drawing-DrawedAt>2017/12/03</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>人生を歩む by はるるん</Drawing-Title>
							<Drawing-DrawedAt>2017/12/04</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>竹生える</Drawing-Title>
							<Drawing-DrawedAt>2017/12/11</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>通知ベル</Drawing-Title>
							<Drawing-DrawedAt>2017/11/12</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>

					<Drawing>
						<Drawing-Picture></Drawing-Picture>

						<Drawing-Details>
							<Drawing-Title>独りじゃない</Drawing-Title>
							<Drawing-DrawedAt>2017/12/12</Drawing-DrawedAt>
						</Drawing-Details>
					</Drawing>
				</UL>
			</Album>
<%- include("../!templates/_template-footer") %>