<%-
	include("../!templates/_header", {
		name: "Drawing",
		title: "どろういんぐ。",
		favicon: "./favicon.ico",

		hasStyle: true
	}) %>
			<H1 Class = "heading">どろういんぐ。</H1>

			<Announce>
				<Details>
					<Summary>2018/01/05(Fri)</Summary>
					
					<P>
						LINEクリエイターズスタンプにて<A Href = "https://store.line.me/stickershop/product/1864073/" Target = "_blank">Genbooスタンプ</A>が発売されました！！<Br />
						もし気に入って頂けましたら幸いです！！
					</P>
				</Details>
			</Announce>

			<%-
				include("../!templates/_drawing", {
					items: [
						{ name: "＼ﾃﾞｪｪｪｪｪｪﾝ／", drawedAt: "2017/12/30" },
						{ name: "Android・iOS論争", drawedAt: "2017/12/03" },
						{ name: "ありがと", drawedAt: "2017/12/02" },
						{ name: "うれしみが深い", drawedAt: "2017/12/03" },
						{ name: "おつかれ", drawedAt: "2018/02/09" },
						{ name: "きらきら", drawedAt: "2017/10/09" },
						{ name: "だいすき", drawedAt: "2018/02/08" },
						{ name: "なか卯最終形態", drawedAt: "2017/12/30" },
						{ name: "なんなんぎんなん", drawedAt: "2017/11/13" },
						{ name: "にんげん", drawedAt: "2017/11/12" },
						{ name: "にんじん", drawedAt: "2017/11/12" },
						{ name: "はぁと", drawedAt: "2017/10/09" },
						{ name: "ポッ by はるるん", drawedAt: "2017/12/02" },
						{ name: "ゆるせにゃん", drawedAt: "2017/12/17" },
						{ name: "わかりみが深い", drawedAt: "2017/11/12" },
						{ name: "暇", drawedAt: "2017/10/09" },
						{ name: "過疎たす", drawedAt: "2017/10/09" },
						{ name: "私", drawedAt: "2017/12/03" },
						{ name: "人生を歩む by はるるん", drawedAt: "2017/12/04" },
						{ name: "竹生える", drawedAt: "2017/12/11" },
						{ name: "通知ベル", drawedAt: "2017/11/12" },
						{ name: "独りじゃない", drawedAt: "2017/12/12" }
					]
				}) %>
<%- include("../!templates/_footer") %>