Modlist {
	Display: Block;
}

Modlist > UL {
	Justify-Content: Space-Around;
}

Mod {
	Width: 300px !Important;
}

Mod ModName {
	Display: Block;
	Width: 10em;

	Overflow: Hidden;
	Text-Overflow: Ellipsis;
	White-Space: NoWrap;
}